:root {
  --main-font-blue: #3168c8;
  --main-font-blue-darkened: #1b3c75;
}

body {
  margin: 0;
  background-color: #ffffff;
  height: 150vh;
  font-family: Arial, Helvetica, sans-serif;
}

.sony-header {
  background-color: black;
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-end;
}

.sony-logo {
  padding: 6px;
}

.ps-header {
  background-color: white;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 2;
  top: 0;
}

.ps-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px 2px 25px;
}

.menu-items-container {
  display: flex;
  flex-direction: row;
  padding-left: 12px;
}

.menu-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 22px;
  cursor: pointer;
}

.menu-item-label {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.fa-angle-down {
  color: grey;
  margin: 4px 0 0 0;
}

.sign-in-btn {
  color: white;
  background-color: var(--main-font-blue);
  border: none;
  height: fit-content;
  padding: 4px 14px 5px 14px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.sign-in-btn:hover {
  background-color: var(--main-font-blue-darkened);
}

.search-button {
  font-size: 18px;
  background: transparent;
  border: solid 1px lightgrey;
  cursor: pointer;
  width: 60px;
  margin-left: 18px;
  padding: 10px 0 10px 5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.search-button:hover {
  border: solid 1px dimgray;
}

.search-text {
  margin: 0 2px 0 5px;
}

.fa-magnifying-glass {
  margin: 5px 15px 0 48px;
}

.cover-image-overlay {
  height: 37vw;
  background-repeat: no-repeat;
}

.cover-image {
  height: 100%;
  width: 100%;
}

.cover-image-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52%;
  width: 60%;
  flex-direction: column;
  position: absolute;
  top: 0px;
}

.cover-image-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.cover-image-title {
  color: white;
}

@media only screen and (max-width: 1600px) {
  .menu-item-label {
    font-size: 11px;
  }

  .menu-item-container {
    margin: 0 5px;
  }

  .sign-in-btn {
    padding: 1px 11px 4px 11px;
  }
}
